<style>

html
{
height: 100%
}

body.default
{
background-color: #808080;
}

img.splash
{
float:right;
}

img.quote
{
float:left;
}

body.about
{
background-image: url("images/Binary-code.png");
background-repeat: no-repeat;
background-size: cover;
}


h1.header
{
background-color: #00008B;
color: white;
text-align: center;
}


ul.nav
{
background-color: #2F4F4F;
overflow: hidden;
padding: 0;
margin: 0;
list-style-type: none;
text-align: center;
}

li.nav
{
display:inline;
padding: 30px;
}

li a
{
color: white;
}

h3.course_header
{
background-color: #00008B;
color: white;
padding: 5px;
}


div.clearFloat
{
clear: both;

color: white;
}

div.quote
{
padding: 16px;
background-color: #2F4F4F;
height: 250px;
width: 800px;
color: white;
}


h2.quote
{
clear: left;
}


div.about
{
background-color: #808080;
border-style: solid;
border-color:#00008B;
border-width: 5px;
color: white;
text-align: center;
width: 400px;
height: 400px;
margin: auto;
}

div.apply
{
background-color: #2F4F4F;
color: white;
text-align: center;
border-style: solid;
border-color:#00008B;
border-width: 2px;
width: 450px;
height: 450px;
margin: auto;
}

div.course_block
{
background-color:#2F4F4F;
}

p.course_content
{
color: white;
}

tr
{
color:white;
}

td
{
padding: 30px;
color: white;
border-style: solid;
border-color:#00008B;
border-width: 2px;
}

td.no_wrap
{
white-space: nowrap;
}

table
{
border-style: solid;
border-color:#00008B;
border-width: 2px;
background-color: #2F4F4F;
}

th.quote
{
font-size: 30px;
}

div.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

div.puzzle_square 
{
  height: 150px;
  border: 1px solid black;
}

img.flower
{
width: 100%;
height: 100%;
}

button.shuffle
{
font-size: 40px;
text-align: center;
padding: 24 px;
}

div.center
{
display: flex;
justify-content: center;
align-items: center;
}

</style>
